<div ng-include="'headerView.html'"></div>
<img src="http://placehold.it/100x100" />

<h2>Erik Knutsson</h2>

<h4>Göteborg</h4>
<br/>
<ul class="competence-list" style="padding: 0; width: 240px; margin: 0 auto;">
	<li style="color: #fff; border-bottom: 1px solid #555; padding: 4px 0;" >1. HTML & CSS</li>
	<li style="color: #fff; padding: 4px 0; border-bottom:  1px solid #555;">2. C#</li>
	<li style="color: #fff;padding: 4px 0; ">3. NODE.js</li>
</ul>
<br/>
<div style="color: #fff; font-weight: 100; font-size: 14px; line-height: 20px;">Hello, im a developer from Gotheburg who knows alot of people in the webdevelopment community. So contact me if you need help!</div>