#loading-bar-spinner {
    top: 30%;
    left: 50%;

    .spinner-icon {
        position:absolute;
        left: -22px;
        width: 44px;
        height: 44px;
        border-top-color: @defaulttextcolor;
        border-left-color: @defaulttextcolor;
    }
}

#loading-bar {
    display: none;    
}
