<form ng-submit="login()" class="form-group">
    <input type="email" data-ng-model="userName" placeholder="{{language.login.emailPlaceholder}}" required autofocus /><br />
    <input type="password" data-ng-model="password" required placeholder="{{language.login.passwordPlaceholder}}" /><br />
    <p>{{message}}</p>
    <input type="submit" class="button red" ng-value="language.login.signInButton" /><br /><br />
    <a ui-sref="resetpassword" ng-bind="language.login.resetPasswordLink"></a>
    <br /><br />
    <a ui-sref="home" class="button back"><i class="icon arrow_back"></i></a>
</form>