<div class="thankyou">
    <h3 ng-bind="language.thankYou.title"></h3>
    <p ng-bind="language.thankYou.description"></p>
    <p>
        <a ng-href="language.thankYou.facebookShareUrl" class="social-icon social_facebook_square"></a>
        <a ng-href="language.thankYou.twitterShareUrl" class="social-icon social_twitter_square"></a>
        <a ng-href="language.thankYou.linkedInShareUrl" class="social-icon social_linkedin_square"></a>
    </p>
    <p><a ui-sref="login" class="button back"><i class="icon arrow_back "></i></a></p>
</div>