<header class="header">
	<button class="toggle-menu" ng-click="active = ! active"><i class="icon icon_menu"></i></button>
	<div class="menu" ng-class="{'active': active}">
		<h1>migree</h1>
		<button class="close-menu" ng-click="active = ! active"><i class="icon icon_close"></i></button>
		<ul>
			<li><a ui-sref="inbox">Inbox</a>
			<li><a ui-sref="matches">Matches</a>
			<li><a ui-sref="about">What is this?</a>
			<li><a ui-sref="home">Logout</a>
		</ul>
	</div>
</li>
<ul class="box profile elasticstack" id="stack">
	<li class="first">
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>
		<div class="name">Erik Knutsson</div>
		<ul class="competence-list">
			<li>1. HTML & CSS</li>
			<li>2. C#</li>
			<li>3. NODE.js</li>
		</ul>
		<button class="button"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
		<button class="button red"><i class="icon icon_chat_alt"></i></button>
	</li>
	<li>
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>
		<div class="name">Name Namesson</div>
		<ul class="competence-list">
			<li>1. DO STUFF</li>
			<li>2. C#</li>
			<li>3. NODE.js</li>
		</ul>
		<button class="button"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
		<button class="button red"><i class="icon icon_chat_alt"></i></button>
	</li>
	<li>
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>
		<div class="name">HEJ!</div>
		<ul class="competence-list">
			<li>1. HTML & CSS</li>
			<li>2. C#</li>
			<li>3. NODE.js</li>
		</ul>
		<button class="button"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
		<button class="button red"><i class="icon icon_chat_alt"></i></button>
	</li>
</ul>
