<div ng-include="'/views/_shared/header.html'"></div>
<ul class="box profile elasticstack" id="stack">
	<li class="first">
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>
		<div class="name">Erik Knutsson</div>
		<ul class="competence-list">
			<li>1. HTML & CSS</li>
			<li>2. C#</li>
			<li>3. NODE.js</li>
		</ul>
		<button class="button"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
		<button class="button red"><i class="icon icon_chat_alt"></i></button>
	</li>
	<li>
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>
		<div class="name">Name Namesson</div>
		<ul class="competence-list">
			<li>1. DO STUFF</li>
			<li>2. C#</li>
			<li>3. NODE.js</li>
		</ul>
		<button class="button"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
		<button class="button red"><i class="icon icon_chat_alt"></i></button>
	</li>
	<li>
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>
		<div class="name">HEJ!</div>
		<ul class="competence-list">
			<li>1. HTML & CSS</li>
			<li>2. C#</li>
			<li>3. NODE.js</li>
		</ul>
		<button class="button"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
		<button class="button red"><i class="icon icon_chat_alt"></i></button>
	</li>
</ul>
