<div class="thankyou">
	<h4>You rock!</h4>
	<p>Thank you for registering, it means a lot to us!</p>
	<p>We're working day and night to get the matching system up and running. As soon as we're done we will let you know and then you can log in and start making new friends.</p>
	<p>Feel free to help us even more by sharing this site and encourage your friends to sign up. </p>
	<p>Again, thank you and see you soon! </p>
	<br />
	<br />
	<p>
		<a class="social-icon social_facebook_square" href="https://www.facebook.com/dialog/share?
	  app_id=1658503381099537&amp;display=popup&amp;href=http%3A%2F%2Fmigree.se&amp;redirect_uri=http%3A%2F%2Fmigree.se" target="_blank"></a><a href="https://twitter.com/intent/tweet?url=http://migree.se&text=I+just+registered+as+a+developer+at+migree.se.+I think+you+should+too.&hashtags=migree" target="_blank" class="social-icon social_twitter_square"></a><a href="https://www.linkedin.com/shareArticle?mini=true&url=migree.se&title=I%20just%20registered%20as%20a%20developer%20at%20migree.se&summary=I%20think%20you%20should%20too&source=" class="social-icon social_linkedin_square" target="_blank"></a>
	</p>
</div>