<h4>Hi five!</h4>
<p>Thank you for registering, it means a lot to us!</p>
<p>We're working day and night to get the matching system up and running. As soon as we're done we will let you know and then you can log in and start making new friends.</p>
<p>Feel free to help us even more by sharing this site and encourage your friends to sign up. </p>
<p>Again, thank you and see you soon! </p>
<br />
<p>
	<div style="top:-5px;" class="fb-share-button" data-href="http://migree.se" data-layout="button"></div>
	<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://migree.se" data-text="I just registered here. I think you should too!" data-via="migreeapp" data-hashtags="migree">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="http://migree.se"></script>
</p>