<div ng-include="'/views/_shared/header.html'"></div>

<ul class="inbox">
	<li><a href="messages/123"><div class="avatar-container"><img src="http://placehold.it/100x100" /></div> 
	<div class="name">Amy</div>
	<div class="message-preview">Message preview...</div> <div class="time">2 days ago</div></a></li>
	<li><a href="messages/123"><div class="avatar-container"><img src="http://placehold.it/100x100" /></div> 	<div class="name">Amy</div> <div class="time">2 days ago</div>
	<div class="message-preview">Message preview...</div></a></li>
	<li><a href="messages/123"><div class="avatar-container"><img src="http://placehold.it/100x100" /></div> 	<div class="name">Amy</div>
	<div class="message-preview">Message preview...</div> <div class="time">2 days ago</div></a></li>
</ul>