<h3 ng-bind="language.title"></h3>
<p ng-bind="language.description"></p>
<p ng-bind="language.loginTitle"></p>
<p><a ui-sref="login" class="button red" ng-bind="language.loginButton"></a></p>
<p><a ui-sref="register" class="button red register" ng-bind="language.registerButton"></a></p>
<br />
<p>
        <a ng-href="language.facebookShareUrl" class="social-icon social_facebook_square"></a>
        <a ng-href="language.twitterShareUrl" class="social-icon social_twitter_square"></a>
        <a ng-href="language.linkedInShareUrl" class="social-icon social_linkedin_square"></a>
    </p>