<div ng-include="'/app/shared/header/headerView.html'"></div>
<ul class="box profile elasticstack" id="stack">
	<li class="first" >
		<div class="card" ng-class="{'back': activeback}">
			<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div >

			<div class="front">
				<div class="name">Erik Knutsson</div>
				<div class="from">Göteborg</div>
				<div>
					This is a text about me!
				</div>
				<button class="button more-btn"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
				<button class="button red"><i class="icon icon_chat_alt"></i></button>
			</div>
			<div class="back">
				<ul class="competence-list">
					<li>1. HTML & CSS</li>
					<li>2. C#</li>
					<li>3. NODE.js</li>
				</ul>
				<button class="button more-btn"><i class="icon  arrow_back "></i></button>
				<a href="/test" data-id="2" class="button red"><i class="icon icon_chat_alt"></i></a>
			</div>
		</div>
	</li>
	<li>
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>

			<div class="front">
				<div class="name">Johan Olsson</div>
				<div class="from">Göteborg</div>
				<div>
					This is a text about me!
				</div>
				<button class="button more-btn"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
				<button class="button red"><i class="icon icon_chat_alt"></i></button>
			</div>
			<div class="back">
				<ul class="competence-list">
					<li>1. HTML & CSS</li>
					<li>2. C#</li>
					<li>3. NODE.js</li>
				</ul>
				<button class="button more-btn"><i class="icon  arrow_back "></i></button>
				<button class="button red"><i class="icon icon_chat_alt"></i></button>
			</div>

	</li>
	<li>
		<div class="avatar-container"><img class="avatar" src="http://placehold.it/100x100" /></div>

			<div class="front">
				<div class="name">Andreas Ivarsson</div>
				<div class="from">Göteborg</div>
				<div>
					This is a text about me!
				</div>
				<button class="button more-btn"><i class="icon icon_plus "></i><br/>MORE<br/> INFO</button>
				<button class="button red"><i class="icon icon_chat_alt"></i></button>
			</div>
			<div class="back">
				<ul class="competence-list">
					<li>1. HTML & CSS</li>
					<li>2. C#</li>
					<li>3. NODE.js</li>
				</ul>
				<button class="button more-btn"><i class="icon  arrow_back "></i></button>
				<button class="button red"><i class="icon icon_chat_alt"></i></button>
			</div>
	</li>
</ul>
