.new-message{
/*
	width: 300px;
	max-width: 100%;

	textarea{
		height: 50px;
		float: left;
	}

	.button{
		float: left;
	}
	*/
}
 ul{
	 &.message-list{
		 list-style-type: none;
     margin: 0;
     padding: 0;
	 }
 }
