.inbox{
	background: #fff;
	list-style: none;
	padding: 0;

	li{
		clear: both;
		a{
			border-bottom: 1px solid #ddd;
			
			height: 40px;

			.avatar-container{
				float: left;
				width: 40px;
				img{
					width: 100%;
				}
			}
		}
	}
}