<div ng-include="'headerView.html'"></div>
<div class="message-user-box">
    <div class="avatar-container">
        <img ng-src="{{user.profileImageUrl}}" />
    </div>
    <h2 ng-bind="user.name"></h2>
    <h4 ng-bind="user.userLocation"></h4>
</div>
<div class="new-message" ng-class="{active: editable}">
    <textarea ng-model="message" ng-class="{active: editable}" id="textarea"></textarea>
    <button class="button red" ng-class="{hidden: editable}" ng-click="editable=!editable;sendMessage()">{{editable ? language.message.sendButton : sendButtonText}}</button>

    <div class="controls" ng-class="{active: editable}">
      <button class="button red cancel" ng-click="editable=!editable;"><i class="icon arrow_back"></i></button>
      <button class="button red send" ng-click="editable=!editable;sendMessage()">{{editable ? language.message.sendButton : sendButtonText}}</button>
    </div>
</div>

<ul class="message-list">
    <li ng-repeat="message in thread">
        <div class="message" ng-class="{right: !message.isUser, 'left mine': message.isUser}">
            <p ng-repeat="line in (message.content | newlines) track by $index">{{line}}</p>            
            <p class="right"><span>{{message.created}}</span></p>
        </div>
    </li>
</ul>
