<div ng-include="'shared/header/headerView.html'"></div>

<div class="user">

</div>
<div class="new-message" ng-class="{active: editable}">
    <textarea ng-model="message" ng-class="{active: editable}" id="textarea"></textarea>
    <button class="button red" ng-class="{active: editable}" ng-click="editable=!editable;sendMessage()">{{editable ? 'Send message' : sendButtonText}}</button>
</div>

<ul class="message-list">
  <li ng-repeat="message in thread">
    <div class="message" ng-class="{top: !message.isUser, 'left mine': message.isUser}">
        <p>{{message.content}}</p>
        <p class="right"><span>{{message.created}}</span></p>
    </div>
  </li>
</ul>
