.profile{


	.avatar-container{
		border-radius: 70px;
		margin: 0 auto;
		margin-top: -35px;
		overflow: hidden;
		width: 100px;
		height: 100px;


		.avatar{

		}
	}


	.name{
		font-family: Garamond, Georgia;
		margin: 20px auto;
	}

	.competence-list{
		list-style: none;
		text-align: left;
	}

}