<div ng-include="'headerView.html'"></div>
<div ng-controller="settingsController" class="settings">
  <div class="ui-view-image-view" ng-show="didSelect && !avatarCropped">
      <img-crop image="srcImg"
                result-image="croppedImg"
                result-image-size="100">
      </img-crop>
      <br /><br />
      <button class="button red cropbutton" ng-click="crop()" ng-bind="language.settings.cropButton"></button>
  </div>
  <div class="settings page step active">

    <h4 ng-bind="language.settings.title"></h4>
    <p ng-bind="language.settings.description"></p>

        <div class="form-group usertype">
            <div class="btn-group">
                <label class="btn active btn-default">
                    <input type="radio" disable-valid-styling="true" ng-model="settings.userType" name="usertype" value="2" /> <span ng-bind="language.settings.radioButtonWantToHelp"></span>
                </label>
                <label class="btn btn-default">
                    <input type="radio" disable-valid-styling="true" ng-model="settings.userType" name="usertype" value="1" /> <span ng-bind="language.settings.radioButtonNeedHelp"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="{{language.settings.firstNamePlaceholder}}" required ng-model="settings.firstName" disable-validation-message="" />
        </div>
        <div class="form-group">
            <input type="text" placeholder="{{language.settings.lastNamePlaceholder}}" required ng-model="settings.lastName" disable-validation-message="" />
        </div>
        <div class="form-group">
            <input type="email" placeholder="{{language.settings.emailPlaceholder}}" autocorrect="off" autocapitalize="none" required ng-model="settings.email" disable-validation-message="" />
        </div>
        <div class="form-group">
            <input type="password" novalidate="novalidate" disable-valid-styling="true" ng-minlength="6" placeholder="{{language.settings.passwordPlaceholder}}" ng-model="settings.password" />
        </div>
        <div class="form-group">
            <div class="avatar-upload" style="background-image: url('{{settings.profileImageUrl}}')" ng-show="!didSelect || avatarCropped">
                <input type="file" name="avatar" ng-model="profileImageSrc" file-select disable-valid-styling="true" />
                <img src="{{ croppedImg }}" />
            </div>
        </div>
        <ui-select ng-model="settings.business" search-enabled="false" on-select="onBusinessSelectedChange($item)">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (businesses | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
        </ui-select>
        <br />
        <ui-select ng-model="settings.userLocation" search-enabled="false">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (locations | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
        </ui-select>
        <br />
        <ui-select multiple limit="3" ng-model="settings.competences">
            <ui-select-match placeholder="{{language.settings.competencesPlaceholder}}">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="item in competences | filter:$select.search">
                {{item.name}}
            </ui-select-choices>
        </ui-select>
        <br />
        <p ng-bind="language.settings.titlePersonalInfo"></p>

        <textarea ng-model="settings.description" disable-valid-styling="true" placeholder="{{language.settings.aboutTextPlaceholder}}"></textarea>
        <input type="checkbox" novalidate="novalidate" disable-valid-styling="true"  disable-dynamic-validation ng-model="settings.isPublic" id="isPublic" /> <label for="isPublic" ng-bind="language.settings.isPublicLabel"></label>

        <br />
        <br />

        <button ng-click="update()" class="button red" ng-bind="language.settings.updateButton"></button>
      </div>
  </div>
