html{
	height: 100%;
}

*{
	outline: none;
}

body{
	border: 8px solid #FF0035;
	min-height: 100%;
	background: #33000A;
	color: #4F4749;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 0 30px;
}

h1,h2,h3,h4{
	color: #fff;
}

h2{
	font-size: 50px;
}

p{
	font-family: Garamond, Georgia;
}